CHIQINDI_DATABASE_URL=postgresql+asyncpg://USER:PASS@localhost:5432/DBNAME
CHIQINDI_REDIS_URL=redis://localhost:6379/0
CHIQINDI_ADMIN_TOKEN=changeme
CHIQINDI_ADMIN_USERNAME=admin
CHIQINDI_ADMIN_PASSWORD=admin123
